.field {
  display: block;

  label {
    display: block;
    margin-bottom: .5rem;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}